Nombre: <input type="text" name="nombre" ng-model="entidadBancaria.nombre" /><br/><br/>
Codigo Entidad: <input type="text" name="codigoEntidad" ng-model="entidadBancaria.codigoEntidad" /><br/><br/>
Fecha Creacion: <input type="text" name="fechaCreacion" ng-model="entidadBancaria.fechaCreacion" /><br/><br/>
Direccion: <input type="text" name="direccion" ng-model="entidadBancaria.direccion" /><br/><br/>
CIF: <input type="text" name="cif" ng-model="entidadBancaria.cif" /><br/><br/>
<button ng-click="insertar()">Insertar</button>

<ul>
    <li ng-repeat="businessMessage in businessMessages">{{businessMessage.message}}</li>
</ul>