<table border="1">
    <tr>
        <td>nombre</td>
        <td>codigo</td>
        <td>fecha</td>
        <td>direccion</td>
        <td>cif</td>
        <td>accion</td>
    </tr>
    <tr ng-repeat="entidadBancaria in entidadesBancarias| orderBy:'direccion'">
        <td><a href="#/entidadbancaria/detail/{{entidadBancaria.idEntidadBancaria}}">{{entidadBancaria.nombre}}</a></td>
        <td>{{entidadBancaria.codigoEntidad}}</td>
        <td>{{entidadBancaria.fechaCreacion}}</td>
        <td>{{entidadBancaria.direccion}}</td>
        <td>{{entidadBancaria.cif}}</td>
        <td><button ng-click="borrar(entidadBancaria.idEntidadBancaria)">Borrar</button></td>
    </tr>
</table><br/>
<a href="#/entidadbancaria/new">Nueva Entidad Bancaria</a>